# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/

# Environment variables
.env

# Logs
*.log
